.folder-wrapper {
    text-align: left;
}
.folder-wrapper table tbody tr td {
    padding: 0;
}

.folder-button {
    cursor: pointer;

    font-size: 18px;
    font-weight: bold;

    text-align: center;
    margin: 2px;

    /*background-color: red;*/
    border-radius: 8px;
}

.folder-button span {
    padding: 0px 5px;
}

.folder-header {
    cursor: pointer;
    font-size: 18px;
    margin: 2px;
    background-color: #a33900;
    width: 100%;
    border-radius: 10px;
}

.folder-header.selected {
    background-color: #dc5600;
}

.folder-header span {
    padding: 0px 10px;
}

.folder-children-container{
    padding-left: 15px;
}