main {
    text-align: -webkit-center;
}

.login-form {
    display: inline-block;
    text-align: left;
}

.login-form div {
    margin: 5px 0px;
}

.login-form-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.login-form-prompt {
    margin: 10px;
    /*font-weight: bold;*/
}

.login-form-error {
    margin: 10px;
    font-weight: bold;
    color: #ff3030;
    /*
    border-style: dotted;
    border-color: red;
    border-width: 1px;*/
}

.login-form div input {
    width: 300px;

    border-width: 0;
    padding: 10px;
    margin: 5px;

    font-size: 16px;

    border-radius: 16px;
}

.login-form div input:focus {
    outline: none;
    /*border-width: 4px;
    margin: 1px;*/

    background-color: #fffce0;
    border-color: #a33900;
}

.login-form div .login-form-submit {
    width: 320px;
    margin: 5px;

    background-color: #a33900;

    color: white;
    font-weight: bolder;

    cursor: pointer;
}

.login-form div .login-form-submit:hover {
    background-color: #c94500;
}

.login-form div .login-form-submit:focus {
    background-color: #c94500;
}

.login-form div a {
    margin: 10px;
}
